@charset "UTF-8";

/* 回答はここに書いてね */
.q9 {
  background-color: #ecf1f2;    
  padding: 20px 10px; 
}

.contaner {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 0;
}

.item {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 10px;
}

.item_last {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
}


.item_12 {
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  height: 50px;
}

.item_size6 {
  width: 50%;
}
.item_box {
  line-height: 50px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  height: 50px;
}

.item_size4 {
  width: 33.3%;
}

.item_size3 {
  width: 25%;
}

.item_size24 {
  width: 20%;
}

.item_size2 {
  width: 16.6%;
}

/* 回答はここに書いてね */
