@charset "UTF-8";

/* 回答はここに書いてね */

.first_box {
  text-align: center;
}

.first_text {
  display: inline-block;
  padding: 10px 0px;
  width: 90px;
  background-color: #e6f2ff;
}

.margin_box {
  margin: 0 auto;
}

.margin_text {
  text-align: center;
  padding: 10px;
  background-color: #e6f2ff;
  width: 90px;
}

.second_position_box {
  position: relative;
}

.second_position_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.second_box {
  display: table;
}

.second_in_box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.second_text_box {
  padding: 10px;
  display: inline-block;
  background-color: #fff;
}

.second_flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_trans_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* 回答はここに書いてね */
