@charset "UTF-8";

/* 回答はここに書いてね */

.contents {
    margin: 0 auto;
    width: 900px;
    background-color: #eff3f4;
    padding: 20px;
}

img.img-left {
    float:left;
    padding-right: 20px;
    padding-bottom: 10px;
}

img.img-right {
    float:right;
    padding-left: 20px;
    padding-bottom: 10px;
}
p.text {
    word-break: break-all;
    font-size: 18px;
    line-height: 22px;
}
/* 回答はここに書いてね */
