@charset "UTF-8";

/* 回答はここに書いてね */

/* small */
.common_s {
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #00bcd4;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;

}

.error_s {
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #ff4081;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;

}

.disabled_s {
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;

}

.shadow_s {
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #222;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),
                0 1px 4px rgba(0,0,0,.12);
    display: inline-block;
    padding: 5px 15px;

}

/* middle */

.common_m {
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;  
    color: #fff;
    background-color: #00bcd4;
    display: inline-block;
    padding: 6px 20px;
    margin-right: 10px;

}

.error_m {
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;  
    color: #fff;
    background-color: #ff4081;
    display: inline-block;
    padding: 6px 20px;
    margin-right: 10px;

}

.disabled_m {
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;  
    color: #fff;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 6px 20px;
    margin-right: 10px;
}

.shadow_m {
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;  
    color: #222;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),
                0 1px 4px rgba(0,0,0,.12);
    display: inline-block;
    padding: 6px 20px;
}

/* large */

.common_l {
    font-size: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #00bcd4;
    display: inline-block;
    padding: 7px 25px;
    margin-right: 10px;

}

.error_l {
    font-size: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #ff4081;
    display: inline-block;
    padding: 7px 25px;
    margin-right: 10px;
}

.disabled_l {
    font-size: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #fff;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 7px 25px;
    margin-right: 10px;
}

.shadow_l {
    font-size: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    color: #222;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),
                0 1px 4px rgba(0,0,0,.12);
    display: inline-block;
    padding: 7px 25px;
}


/* 回答はここに書いてね */
