@charset "UTF-8";

/* 回答はここに書いてね */


.balloon {
  position: relative;
  margin: 0 auto;
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  background-color: #fff;
  border: 5px solid #222;
  border-radius: 30px;
}

.balloon:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 25px;
  bottom: -25px;
  border-top: 25px solid #222;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

.balloon:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 25px;
  bottom: -18px;
  border-top: 25px solid #fff;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

/* 回答はここに書いてね */